{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur nos Crédit{% endblock %}

{% block body %}

<div>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-4 m-auto shadow">
                <h4 class="text-center">Votre simulation de {{ credit.titre }} :</h2>
                <div class="card flex-row justify-content-around p-4">
                    <div class="form-group">
                        <label for="">Montant du prêt :</label>
                        <input type="number" name="montant" id="montant" class="form-control" value="{{ credit.montantEmprunte }}">
                    </div>
                    <button id="send" class="btn btn-success">Ok</button>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead class="bg-success">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">
                                Formule 1
                                <br>
                                {% if is_granted('ROLE_USER') %}
                                <a class="btn btn-primary rounded text-light">Choisir</a>
                                {% else %}
                                <a class="btn btn-primary rounded" href="{{ path('app_login') }}">Choisir</a>
                                {% endif %}
                            </th>
                            <th scope="col">
                                Formule 2
                                <br>
                                <button class="btn btn-primary rounded">Choisir</button>
                            </th>
                            <th scope="col">
                                Formule 3
                                <br>
                                <button class="btn btn-primary rounded">Choisir</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row">Montant emprunté</th>
                                {# <td id="montantEmprunte">{{ credit.montantEmprunte }}</td>
                                <td>{{ credit.montantEmprunte }}</td>
                                <td>{{ credit.montantEmprunte }}</td> #}
                                {% for credit in credits %}
                                    <td class="montantEmprunte">{{ credit.montantEmprunte }}</td>
                                {% endfor %}
                            </tr>
                        <tr>
                            <th scope="row">Mensualité</th>
                            {# <td id="mensualites">{{ credit.mensualites }}</td>
                            <td>{{ credit.mensualites }}</td>
                            <td>{{ credit.mensualites }}</td> #}
                            {% for credit in credits %}
                                <td class="mensualites">{{ credit.mensualites }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Nombres Mensualité</th>
                            {# <td>{{ credit.nombresMensualites }}</td>
                            <td>{{ credit.nombresMensualites }}</td>
                            <td>{{ credit.nombresMensualites }}</td> #}
                            {% for credit in credits %}
                                <td class="nbrMensualites">{{ credit.nombresMensualites }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Taux Fixe</th>
                            {# <td>{{ credit.tauxFixe }}</td>
                            <td>{{ credit.tauxFixe }}</td>
                            <td>{{ credit.tauxFixe }}</td> #}
                            {% for credit in credits %}
                                <td class="taux">{{ credit.tauxFixe }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Montant Total</th>
                            {# <td id="montantTotal">{{ credit.montantTotal }}</td>
                            <td>{{ credit.montantTotal }}</td>
                            <td>{{ credit.montantTotal }}</td> #}
                            {% for credit in credits %}
                                <td class="montantTotal">{{ credit.montantTotal }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}
    <script>
        // $('#send').click(function() {
        //     $(this).prop('disabled', true);
        //     // $(this).addClass('disabled');
        //     $(this).after('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
        //     $.ajax({
        //         data: {
        //             montant: $('#montant').val(),
        //             taux: $('#taux{{ credit.id }}').html(),
        //             nbrMensualites: $('#nbrMensualites{{ credit.id }}').html()
        //         },
        //         url: '{{path("ajax", {id: credit.id})}}',
        //         dataType: 'json',
        //         complete: function() {
        //             $('#send').prop('disabled', false);
        //             $('#send').next().remove();
        //         },
        //         error: function () {
        //             alert('Desole erreur');
        //         },
        //         success: function (data) {
        //             console.log(data);
        //             {% for credit in credits %}
        //             $('#montantEmprunte{{credit.id}}').html(data.montantEmprunte);
        //             $('#mensualites{{credit.id}}').html(data.mensualites);
        //             $('#montantTotal{{credit.id}}').html(data.montantTotal);
        //             {% endfor %}
        //         }
        //     });
        // });
        // {% for credit in credits %}
        //     $('#montantEmprunte{{credit.id}}').html(data.montantEmprunte);
        //     $('#mensualites{{credit.id}}').html(data.mensualites);
        //     $('#montantTotal{{credit.id}}').html(data.montantTotal);
        // {% endfor %}

        $('#send').click(()=> {
            for (let i = 0; i < $('.montantTotal').length; i++) {
                const montant = parseInt($('#montant').val())
                const taux = parseFloat($('.taux')[i].innerHTML);
                const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
                const total = (montant * taux) + montant;
                const mensualites = total / nbrMensualites;

                $('.mensualites')[i].innerHTML = mensualites;
                $('.montantTotal')[i].innerHTML = total;
                $('.montantEmprunte')[i].innerHTML = montant;
            }

        })
    </script>
{% endblock %}