{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur nos Crédit{% endblock %}

{% block body %}

<div>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-4 m-auto shadow">
                <h4 class="text-center">Votre simulation de {{ credit.titre }} :</h2>
                <div class="card flex-row justify-content-around p-4">
                    <div class="form-group">
                        <label for="">Montant du prêt :</label>
                        <input type="number" name="montant" id="montant" class="form-control" value="{{ credit.montantEmprunte }}">
                    </div>
                    <button id="send" class="btn btn-success">Ok</button>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead class="bg-success">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">
                                Formule 1
                                <br>
                                {% if is_granted('ROLE_USER') %}
                                <a class="btn btn-primary rounded text-light">Choisir</a>
                                {% else %}
                                <a class="btn btn-primary rounded" href="{{ path('app_login') }}">Choisir</a>
                                {% endif %}
                            </th>
                            <th scope="col">
                                Formule 2
                                <br>
                                <button class="btn btn-primary rounded">Choisir</button>
                            </th>
                            <th scope="col">
                                Formule 3
                                <br>
                                <button class="btn btn-primary rounded">Choisir</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row">Montant emprunté</th>
                                {% for credit in credits %}
                                    <td class="montantEmprunte">{{ credit.montantEmprunte }}</td>
                                {% endfor %}
                            </tr>
                        <tr>
                            <th scope="row">Mensualité</th>
                            {% for credit in credits %}
                                <td class="mensualites">{{ credit.mensualites }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Nombres Mensualité</th>
                            {% for credit in credits %}
                                <td class="nbrMensualites">{{ credit.nombresMensualites }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Taux Fixe</th>
                            {% for credit in credits %}
                                <td class="taux">{{ credit.tauxFixe }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Montant Total</th>
                            {% for credit in credits %}
                                <td class="montantTotal">{{ credit.montantTotal }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}
    <script>
        function arrondir(nombre) {
            let arrondi = nombre*100;          
            arrondi = Math.round(arrondi); 
            arrondi = arrondi/100;
            return arrondi;
        }

        $('#send').click(()=> {
            for (let i = 0; i < $('.montantTotal').length; i++) {
                const montant = parseInt($('#montant').val())
                const taux = parseFloat($('.taux')[i].innerHTML) / 100;
                const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
                const total = (montant * taux) + montant;
                const mensualites = total / nbrMensualites;

                $('.mensualites')[i].innerHTML = arrondir(mensualites);
                $('.montantTotal')[i].innerHTML = total;
                $('.montantEmprunte')[i].innerHTML = montant;
            }
        })
        console.log("coucou");
    </script>
{% endblock %}