<a href="{{ path('home_contact') }}"    >
    <div class="contact shadow bg-white text-center text-info">
        <img src="{{ asset('images/icon-contact.svg') }}" alt="contact">
        <strong>CONTACT</strong>
    </div>
</a>
<footer class="conatiner-fluid success mt-6">
<div class="reseaux">
    <a href=""><img src="{{ asset('images/facebook-icon.svg') }}" alt="facebook"></a>
    <a href=""><img src="{{ asset('images/twitter-icon.svg') }}" alt="twitter"></a>
    <a href=""><img src="{{ asset('images/youtube-icon.svg') }}" alt="youtube"></a>
</div>

<img src="{{ asset('images/kibozumi1.png') }}" alt="logo" width="200">
</footer>