{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur l'accueil{% endblock %}

{% block body %}

<div>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-7 m-auto shadow">
                <h2 class="text-center">Votre simulation</h2>
                <div class="card flex-row justify-content-around p-4">
                    {% for categorie in categories %}
                        <a href="{{ path('category_show', {id: categorie.id}) }}">
                            <div class="credit text-center p-4">
                                <img src="https://via.placeholder.com/90" alt="logo" class="shadow-sm">
                                <p> {{ categorie.titre }} </p>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('category_show', {id: categorie.id}) }}" class="nav-link btn btn-info btn-sm d-inline-block">Ajouter un crédit</a>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                {# <a href="{{ path('credit_new') }}" class="nav-link btn btn-info btn-sm d-inline-block">Ajouter un crédit</a> #}
            </div>
        </div>
    </div>

</div>
{% endblock %}
