{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur l'accueil{% endblock %}

{% block body %}

<section class="container-fluid bg-dark p-5">
    <div class="container">
        <div class="row">
            <h2 class="m-auto text-light pb-5">Kibozumi vous aide à concrétiser vos envies</h2>
            <div class="col-md-5 p-3">
                <h4 class="text-center font-weight-bold text-light pb-4">Quel est votre projet ?</h4>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
                    <ol class="carousel-indicators">
                    {% for categorie in categories %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" class="{% if loop.index == 1 %} active {% endif %}"></li>
                    {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for categorie in categories %}
                        <a href="{{ path('category_show', {id: categorie.id}) }}">
                            <div class="carousel-item shadow-sm{% if loop.index == 1 %} active {% endif %}">
                                <img src="img/credits/{{ categorie.imageName }}" class="d-block w-100 m-0 rounded" alt="{{ categorie.imageName }}" id="{{ loop.index }}" height="350">
                                <div class="carousel-caption d-none d-md-block">
                                    <a href="{{ path('category_show', {id: categorie.id}) }}" class="nav-link"><h5 class="text-light linkCat">{{ categorie.titre }}</h5></a>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 ml-auto d-flex align-items-center flex-column">
                <h3 class="text-light font-weight-bold mb-3">
                    Vous avez un projet ?<br>
                    <span class="text-light font-weight-bold span-title">
                        Kibozumi vous accompagne
                        dans sa réalisation
                    </span>
                </h3>
                <div class="cercle1 shadow-sm">
                    <div class="cercle2">
                        <p class="text-light">Prêt <br>Perso</p>
                    </div>
                    <p class="m-0 text-muted font-weight-bold">A partir de</p>
                    <p class="numb">1</p>
                    <p class="text-cercle">
                        <span class="pourcent">%</span><br>
                        <span class="taeg">TAEG FIXE</span> <br>
                        <small>de 5000€ à 10&nbsp;000€ sur 12 mois
                        jusqu'au 15/04/2020</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{ include('home/message-projet.html.twig') }}
{{ include('home/solutions.html.twig') }}
{{ include('home/charte-contact.html.twig') }}
{{ include('home/faq.html.twig') }}

{% endblock %}

{% block javascripts %}{% endblock %}
