{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur nos Crédit{% endblock %}

{% block body %}

    {% block stylesheets %}
        <style>
            .cCommande {
                margin: 0 30% !important;
            }
        </style>
    {% endblock %}


    <div class="container-fluid commande mb-7">
        <div class="row">
            <div class="col-md-3 shadow wrap-cred">
                <p class="text-muted text-center">
                    <strong>{{ category.titre }}</strong>
                </p>
                <h5 class="text-center">Votre simulation</h5>
                <label for="montant2" class="labelMontant text-danger">Montant souhaité :</label>
                <div class="input-group mb-2">
                    <input type="number" name="montant2" id="montant2" class="form-control primary" value="10000" aria-label="montant2">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>

                <div class="card cardCredit2">
                    <div class="box-mensualites">
                        <p class='resultBox success m-0 p-2'>{{ credits[1].mensualites }}<sup>€</sup> / mois</p>
                    </div>
                    <input type="range" name="mensualites2" id="mensualites2" class="custom-range" min="1000" max="30000" step="500">

                    <div class="card-body success text-center">
                        <p class="dure m-0">{{ credits[1].nombresMensualites }} mois</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-auto cardCredit3">
                <h3 class="text-center">Comparer et choisir l'offre la plus adaptée à votre projet</h3>
                <hr>
                <div class="row">
                    <div class="col-md-3 p-3 text-center text-muted"></div>
                    {% for credit in credits %}
                    <div class="col-md-3 p-3 text-center border border-bottom offre{{loop.index}}">
                        <p>Formule n°{{ loop.index }}</p>
                        {% if is_granted('ROLE_USER') %}
                            <a class="btn btn-color rounded-pill data" href="{{ path('user_show', {id: app.user.id}) }}" id="{{credit.id}}">Choisir</a>
                        {% else %}
                            <a class="btn btn-color rounded-pill" href="{{ path('app_login') }}">Choisir</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="wrapUp-table border my-2">
                    <div class="row">
                        <div class="col-md-3 text-muted cel border-right">
                            <p>Montant emprunté</p>
                        </div>
                        {% for credit in credits %}
                        <div class="col-md-3 text-center cel border-right montantEmprunte active{{ loop.index }}">
                            {{ credit.montantEmprunte }} <sup>€</sup>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row border-top">
                        <div class="col-md-3 text-muted cel border-right">
                            <p>Mensualités</p>
                        </div>
                        {% for credit in credits %}
                        <div class="col-md-3 text-center cel border-right active{{ loop.index }}">
                            <small class="text-muted">à partir de</small> <br>
                            <p class="mensualites" id="mensualites{{credit.id}}">{{ credit.mensualites }}</p>
                            <sup>€</sup>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row border-top">
                        <div class="col-md-3 text-muted cel border-right">
                            <p>Durée du crédit</p>
                        </div>
                        {% for credit in credits %}
                        <div class="col-md-3 text-center cel border-right nbrMensualites active{{ loop.index }}">
                            {{ credit.nombresMensualites }} / mois
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row border-top">
                        <div class="col-md-3 text-muted cel border-right">
                            <p>Taux Fixe</p>
                        </div>
                        {% for credit in credits %}
                        <div class="col-md-3 text-center cel border-right active{{ loop.index }}">
                            <p class="taux">{{ credit.tauxFixe }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="wrapDown-table border">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-center cel2 border-right">
                            <p>Montant total dû</p>
                        </div>
                        {% for credit in credits %}
                        <div class="col-md-3 text-center totalM{{ loop.index }} border-right border-white">
                            <small>à partir de</small> <br>
                            <p class="montantTotal m-0" id="montantTotal{{credit.id}}">
                                {{ credit.montantTotal }}
                            </p>
                            <small>dont 0 € de frais de dossier</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{{ include('home/indexTemp/indications.html.twig') }}

{% endblock %}

{% block javascripts %}
    
    <script>
        function arrondir(nombre) {
            let arrondi = nombre*100;          
            arrondi = Math.round(arrondi); 
            arrondi = arrondi/100;
            return arrondi;
        }

        {% if is_granted('ROLE_USER') %}
            $('.data').click((e) => { 
                    
                $.ajax({
                    data: {
                        montant: $('#montant2').val(),
                        mensualites : $('#mensualites' + e.target.getAttribute('id'))[0].innerHTML,
                        montantTotal: $('#montantTotal'+ e.target.getAttribute('id'))[0].innerHTML,
                        creditId: e.target.getAttribute('id')
                    },
                    url: "{{path('ajax', {user: app.user.id})}}",
                    dataType: 'json',
                    complete: function() {
                    },
                    error: function () {
                        alert('Desole erreur');
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
                
            });
        {% endif %}

        $('#mensualites2').on('input', function() {            

            for (let i = 0; i < $('.montantTotal').length; i++) {
                const montant = parseInt($(this).val())
                const taux = parseFloat($('.taux')[i].innerHTML);
                const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
                const total = ((montant * taux) / 100) + montant;
                const mensualites = total / nbrMensualites;

                $('.mensualites')[i].innerHTML = arrondir(mensualites);
                $('.montantTotal')[i].innerHTML = total;
                $('.montantEmprunte')[i].innerHTML = montant;

                $('.resultBox').html(arrondir(mensualites));
                $('.dure').html(nbrMensualites);
                $('#montant2').attr('value', $(this).val());                    
            }
        })
    </script>
{% endblock %}
