{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur nos Crédit{% endblock %}

{% block body %}


    <div class="container-fluid commande">
        <div class="row">
            <div class="col-md-3 shadow wrap-cred">
                <p class="text-muted text-center">
                    <strong>{{ category.titre }}</strong>
                </p>
                <h5 class="text-center">Votre simulation</h5>
                <label for="montant2" class="labelMontant text-danger">Montant souhaité :</label>
                <div class="input-group mb-2">
                    <input type="number" name="montant2" id="montant2" class="form-control primary" value="10000" aria-label="montant2">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>

                <div class="card cardCredit2">
                    <div class="box-mensualites">
                        <p class='resultBox success m-0 p-2'>100 <sup>€</sup> / mois</p>
                    </div>
                    <input type="range" name="mensualites2" id="mensualites2" class="custom-range" min="1000" max="30000" step="500">

                    <div class="card-body success text-center">
                        <p class="dure m-0">{{ credits[1].nombresMensualites }} mois</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row">
            <div class="jumbotron col-md-4 shadow wrapCredit m-0">
                <div class="card flex-column justify-content-around p-4 wrapCredit2">
                    <h4 class="text-center text-danger">Votre simulation de : {{ category.titre }}</h4>
                    <div class="form-group">
                        <label for="montant" class="labelMontant text-danger">Montant du prêt :</label>
                        <input type="number" name="montant" id="montant" class="form-control" value="10000">
                    </div>
                    <button id="send" class="btn btn-success btn-block">Simuler</button>
                </div>
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <table class="table table-bordered text-center">
                    <thead class="bg-success">
                        <tr>
                            <th scope="col" class="bg-white"></th>
                            {% for credit in credits %}
                            <th scope="col">
                                Formule {{ loop.index }}
                                <br>
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-color rounded-pill data" id="{{credit.id}}" href="{{ path('user_show', {id: app.user.id}) }}">Choisir</a>
                                {% else %}
                                    <a class="btn btn-color rounded-pill" href="{{ path('app_login') }}">Choisir</a>
                                {% endif %}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row">Montant emprunté</th>
                                {% for credit in credits %}
                                    <td class="montantEmprunte active{{ loop.index }}">{{ credit.montantEmprunte }}</td>
                                {% endfor %}
                            </tr>
                        <tr>
                            <th scope="row">Mensualité</th>
                            {% for credit in credits %}
                                <td class="mensualites active{{ loop.index }}" id="mensualites{{credit.id}}">{{ credit.mensualites }} mois</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Nombres Mensualité</th>
                            {% for credit in credits %}
                                <td class="nbrMensualites active{{ loop.index }}">{{ credit.nombresMensualites }} mois</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Taux Fixe</th>
                            {% for credit in credits %}
                                <td class="taux active{{ loop.index }}">{{ credit.tauxFixe }} %</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Montant Total</th>
                            {% for credit in credits %}
                                <td class="montantTotal totalM{{ loop.index }}" id="montantTotal{{credit.id}}">{{ credit.montantTotal }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{{ include('home/indexTemp/indications.html.twig') }}

{% endblock %}

{% block javascripts %}
    
    <script>
        function arrondir(nombre) {
            let arrondi = nombre*100;          
            arrondi = Math.round(arrondi); 
            arrondi = arrondi/100;
            return arrondi;
        }

        // $('#send').click(()=> {
        //     for (let i = 0; i < $('.montantTotal').length; i++) {
        //         const montant = parseInt($('#montant').val())
        //         const taux = parseFloat($('.taux')[i].innerHTML);
        //         const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
        //         const total = ((montant * taux) / 100) + montant;
        //         const mensualites = total / nbrMensualites;

        //         $('.mensualites')[i].innerHTML = arrondir(mensualites) + " <sup>&euro;</sup> / mois";
        //         $('.montantTotal')[i].innerHTML = total + " <sup>&euro;</sup>";
        //         $('.montantEmprunte')[i].innerHTML = montant + " <sup>&euro;</sup>";
        //     }
        // })
        {% if is_granted('ROLE_USER') %}
            $('.data').click((e) => { 
                    
                $.ajax({
                    data: {
                        montant: $('#montant').val(),
                        mensualites : $('#mensualites' + e.target.getAttribute('id'))[0].innerHTML,
                        montantTotal: $('#montantTotal'+ e.target.getAttribute('id'))[0].innerHTML,
                        creditId: e.target.getAttribute('id')
                    },
                    url: "{{path('ajax', {user: app.user.id})}}",
                    dataType: 'json',
                    complete: function() {
                    },
                    error: function () {
                        alert('Desole erreur');
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
                
            });
        {% endif %}

        // $('#montant2').on('input', function() {
        //     var newval=$(this).val();
        //     $('.resultBox').text(newval)
        //     ;
            
        // })

        $('#mensualites2').on('input', function() {

                for (let i = 0; i < $('.montantTotal').length; i++) {
                    const montant = parseInt($(this).val())
                    const taux = parseFloat($('.taux')[i].innerHTML);
                    const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
                    const total = ((montant * taux) / 100) + montant;
                    const mensualites = total / nbrMensualites;

                    $('.mensualites')[i].innerHTML = arrondir(mensualites) + " <sup>&euro;</sup> / mois";
                    $('.montantTotal')[i].innerHTML = total + " <sup>&euro;</sup>";
                    $('.montantEmprunte')[i].innerHTML = montant + " <sup>&euro;</sup>";

                    $('.resultBox').html(arrondir(mensualites) + " <sup>€</sup> / mois");
                    $('.dure').html(nbrMensualites + " mois");
                    $('#montant2').attr('value', $(this).val());                    
                }
        })
    </script>
{% endblock %}
