{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} sur nos Crédit{% endblock %}
{% block body %}

    <section class="container my-5">
        <div class="row">
            <div class="jumbotron col-md-4 shadow wrapCredit m-0">
                <div class="card flex-column justify-content-around p-4 wrapCredit2">
                    <h4 class="text-center text-danger">Votre simulation de : {{ category.titre }}</h4>
                    <div class="form-group">
                        <label for="montant" class="labelMontant text-danger">Montant du prêt :</label>
                        <input type="number" name="montant" id="montant" class="form-control" value="10000">
                    </div>
                    <button id="send" class="btn btn-success btn-block">Simuler</button>
                </div>
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <table class="table table-bordered text-center tableau modal">
                    <thead class="bg-success">
                        <tr>
                            <th scope="col" class="bg-white"></th>
                            {% for credit in credits %}
                            <th scope="col">
                                Formule {{ loop.index }}
                                <br>
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-color rounded-pill data" id="{{credit.id}}" href="{{ path('user_show', {id: app.user.id}) }}">Choisir</a>
                                {% else %}
                                    <a class="btn btn-color rounded-pill" href="{{ path('app_login') }}">Choisir</a>
                                {% endif %}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row">Montant emprunté</th>
                                {% for credit in credits %}
                                    <td class="montantEmprunte active{{ loop.index }}">{{ credit.montantEmprunte }}</td>
                                {% endfor %}
                            </tr>
                        <tr>
                            <th scope="row">Mensualité</th>
                            {% for credit in credits %}
                                <td class="mensualites active{{ loop.index }}" id="mensualites{{credit.id}}">{{ credit.mensualites }} mois</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Nombres Mensualité</th>
                            {% for credit in credits %}
                                <td class="nbrMensualites active{{ loop.index }}">{{ credit.nombresMensualites }} mois</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Taux Fixe</th>
                            {% for credit in credits %}
                                <td class="taux active{{ loop.index }}">{{ credit.tauxFixe }} %</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Montant Total</th>
                            {% for credit in credits %}
                                <td class="montantTotal totalM{{ loop.index }}" id="montantTotal{{credit.id}}">{{ credit.montantTotal }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        function arrondir(nombre) {
            let arrondi = nombre*100;          
            arrondi = Math.round(arrondi); 
            arrondi = arrondi/100;
            return arrondi;
        }
        $('#send').click(()=> {
            for (let i = 0; i < $('.montantTotal').length; i++) {
                const montant = parseInt($('#montant').val())
                const taux = parseFloat($('.taux')[i].innerHTML);
                const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
                const total = ((montant * taux) / 100) + montant;
                const mensualites = total / nbrMensualites;

                $('.mensualites')[i].innerHTML = arrondir(mensualites) + " <sup>&euro;</sup> / mois";
                $('.montantTotal')[i].innerHTML = total + " <sup>&euro;</sup>";
                $('.montantEmprunte')[i].innerHTML = montant + " <sup>&euro;</sup>";
            }
            $('table').removeClass('modal');
        })
        {% if is_granted('ROLE_USER') %}
            $('.data').click((e) => { 
                $.ajax({
                    data: {
                        montant: $('#montant').val(),
                        mensualites : $('#mensualites' + e.target.getAttribute('id'))[0].innerHTML,
                        montantTotal: $('#montantTotal'+ e.target.getAttribute('id'))[0].innerHTML,
                        creditId: e.target.getAttribute('id')
                    },
                    url: "{{path('ajax', {user: app.user.id})}}",
                    dataType: 'json',
                    complete: function() {
                    },
                    error: function () {
                        alert('Desole erreur');
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });
        {% endif %}
    </script>
{% endblock %}