{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur nos Crédit{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.titre }}</td>
            </tr>
        </tbody>
    </table>

    <section>
        <div>
            <div class="container">
                <div class="row">
                    <div class="jumbotron col-md-4 m-auto shadow">
                        <h4 class="text-center">Votre simulation de : {{ category.titre }}</h4>
                        <div class="card flex-row justify-content-around p-4">
                            <div class="form-group">
                                <label for="">Montant du prêt :</label>
                                <input type="number" name="montant" id="montant" class="form-control" value="10000">
                            </div>
                            <button id="send" class="btn btn-success">Ok</button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-striped">
                            <thead class="bg-success">
                                <tr>
                                    <th scope="col"></th>
                                    {% for credit in credits %}
                                    <th scope="col">
                                        Formule {{ loop.index }}
                                        <br>
                                        {% if is_granted('ROLE_USER') %}
                                            <a class="btn btn-primary rounded data" id="{{credit.id}}" href="{{ path('user_show',{id: app.user.id}) }}">Choisir</a>
                                            <pre>
                                                {{ dump(credit) }}
                                            </pre>
                                        {% else %}
                                            <a class="btn btn-primary rounded" href="{{ path('app_login') }}">Choisir</a>
                                        {% endif %}
                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <th scope="row">Montant emprunté</th>
                                        {% for credit in credits %}
                                            <td class="montantEmprunte">{{ credit.montantEmprunte }}</td>
                                        {% endfor %}
                                    </tr>
                                <tr>
                                    <th scope="row">Mensualité</th>
                                    {% for credit in credits %}
                                        <td class="mensualites" id="mensualites{{credit.id}}">{{ credit.mensualites }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th scope="row">Nombres Mensualité</th>
                                    {% for credit in credits %}
                                        <td class="nbrMensualites">{{ credit.nombresMensualites }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th scope="row">Taux Fixe</th>
                                    {% for credit in credits %}
                                        <td class="taux">{{ credit.tauxFixe }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th scope="row">Montant Total</th>
                                    {% for credit in credits %}
                                        <td class="montantTotal" id="montantTotal{{credit.id}}">{{ credit.montantTotal }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    
    <script>
        function arrondir(nombre) {
            let arrondi = nombre*100;          
            arrondi = Math.round(arrondi); 
            arrondi = arrondi/100;
            return arrondi;
        }

        $('#send').click(()=> {
            for (let i = 0; i < $('.montantTotal').length; i++) {
                const montant = parseInt($('#montant').val())
                const taux = parseFloat($('.taux')[i].innerHTML);
                const nbrMensualites = parseInt($('.nbrMensualites')[i].innerHTML);
                const total = (montant * taux) + montant;
                const mensualites = total / nbrMensualites;

                $('.mensualites')[i].innerHTML = arrondir(mensualites);
                $('.montantTotal')[i].innerHTML = total;
                $('.montantEmprunte')[i].innerHTML = montant;
            }
        })
        {% if is_granted('ROLE_USER') %}
            $('.data').click((e) => { 
                    
                $.ajax({
                    data: {
                        montant: $('#montant').val(),
                        mensualites : $('#mensualites' + e.target.getAttribute('id'))[0].innerHTML,
                        montantTotal: $('#montantTotal'+ e.target.getAttribute('id'))[0].innerHTML,
                        creditId: e.target.getAttribute('id')
                    },
                    {% for credit in credits %}
                    url: "{{path('ajax', {user: app.user.id, id: credit.id})}}",
                    {% endfor %}
                    dataType: 'json',
                    complete: function() {
                        // $('#send').prop('disabled', false);
                        // $('#send').next().remove();
                    },
                    error: function () {
                        alert('Desole erreur');
                    },
                    success: function (data) {
                   
                    }
                });
                
            });
        {% endif %}
    </script>
{% endblock %}
