
{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< Updated upstream
    {{ form_row(form.mensualites, { 'label': 'Mensualites', }) }} 
=======
>>>>>>> Stashed changes
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
