
{{ form_start(form) }}
<div class="form-group">{{ form_row(form.titre, {'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.montantEmprunte, {'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.mensualites, {'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.nombresMensualites, {'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.tauxFixe, {'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.montantTotal, {'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.imageFile, {'attr':{'class':'form-control'}}) }}</div>

<button type="submit" class="btn btn-success mt-2">Validez</button>
{{ form_end(form) }}
