{% extends 'base.html.twig' %}

{% block title %}Credit index{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1>Liste des crédits</h1>
			<table class="table table-striped">
				<thead class="bg-success">
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Mensualites</th>
						<th>NombresMensualites</th>
						<th>MontantEmprunte</th>
						<th>TauxFixe</th>
						<th>MontantTotal</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for credit in credits %}
						<tr>
							<td>{{ credit.id }}</td>
							<td>{{ credit.titre }}</td>
							<td>{{ credit.mensualites }}</td>
							<td>{{ credit.nombresMensualites }}</td>
							<td>{{ credit.montantEmprunte }}</td>
							<td>{{ credit.tauxFixe }}</td>
							<td>{{ credit.montantTotal }}</td>
							<td>
								<button class="btn btn-primary" href="{{ path('credit_show', {'id': credit.id}) }}">Voir</button>
								<button class="btn btn-success" href="{{ path('credit_edit', {'id': credit.id}) }}">Modifier</button>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button class="btn btn-info m-auto" href="{{ path('credit_new') }}">Ajouter un nouveau crédit</button>
		</div>
	</div>
{% endblock %}
