{% extends 'base.html.twig' %}

{% block title %}Credit index{% endblock %}

{% block body %}

    <h1>Liste des crédits</h1>

    <table class="table mt-7">
        <thead class="success">
            <tr>
                <th class="border">Mensualites</th>
                <th class="border">Nombres de mensualites</th>
                <th class="border">Categorie</th>
                <th class="border">Montant emprunté</th>
                <th class="border">Taux </th>
                <th class="border">Montant total</th>
                <th class="border">Date de création</th>
                <th class="border"></th>
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td>{{ credit.creditCategory.titre }}</td>
                <td>{{ credit.mensualites }}€</td>
                <td>{{ credit.nombresMensualites }} mois</td>
                <td>{{ credit.montantEmprunte }}€</td>
                <td>{{ credit.tauxFixe }}%</td>
                <td>{{ credit.montantTotal }}€</td>
                <td>{{ credit.updatedAt ? credit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class="btn btn-primary" href="{{ path('credit_show', {'id': credit.id}) }}">Voir</button>
                    <button class="btn btn-secondary"  href="{{ path('credit_edit', {'id': credit.id}) }}">Modifier</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-success" href="{{ path('credit_new') }}">Créer un nouveau crédit</button>
{% endblock %}
